body{
	margin: 0px;
	background-color: white;
	font-family: Helvetiva,Arial,sans-serif;
	font-size: 20px;
	line-height: 30px;
	}

header{
	text-align: center;
	background-color: salmon;
	padding-bottom: 70px;
}	
header img {
	margin: 30px;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 100px;
}

main img {padding: 50px 0;}

main img:hover 
{  }
h2{padding: 20px 0;}

a{
	color: salmon;
}

a:hover{
	color: blue;
}

footer{
	text-align: center;
	background-color: salmon;
	margin-bottom: 0;
	padding: 20px;

}